*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/******************HEADER*********************/

#topo {
    background-color: aqua;
}

#logo{
    background-color: black;
    background-image: url(../images/logo.jpg);
    background-repeat: no-repeat;
    background-position: 50px 10px;
    width: 350px;
    height: 350px;
}





/******************NAV*********************/
#menu {
    background-color: blueviolet;
}

.destaques {
    background-color: forestgreen;
}

#rodape {
    background-color: rgb(197, 125, 54);
}

